body {
  font-family: Arial;
}
.todo-grid,
.todo-ip-grid {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  row-gap: 10px;
  column-gap: 10px;
  align-items: center;
  text-align: center;
}
.todo-ip-grid {
  margin-bottom: 10px;
  align-items: stretch;
}

.todo-ip,
.date-ip {
  font-size: 15px;
  padding: 5px;
  border-radius: 25px;
  border-color: #5f67b1;
}

.add-btn {
  background-color: #468b46;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.del-btn {
  background-color: #d10032;
  color: white;
  border: none;
  border-radius: 25px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
}

.title-name {
  font-size: larger;
  font-weight: bolder;
  font-family: Times New Roman;
  margin-left: 8%;
}
